@using ApplicationCore.Entities
@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>

@foreach (var item in Model)
{
    <p>
        <img src="~/uploads/products/@item.PictureUri" height="50" /> 
        @item.Name 
        $@item.Price.ToString("n2")
    </p>
}